<%-include('../layouts/head');%>


<div class="container mt-4" x-data="usuariosComponent()" x-init="usuariosComponent.init">

	<div class="row mx-auto my-auto justify-content-center">
		<div class="col-8">

			<%-include('./modal');%>
		</div>
	</div>

	<div class="row mx-auto my-auto justify-content-end">
		<button class="btn btn-primary" x-show="!modal" @click="openModal">+</button>
	</div>

	<div class="row mx-auto my-auto justify-content-center">

		<div class="col-8">

			<div class="card">
				<div class="card-header text-center">
					<h4> Usuarios </h4>
				</div>
				<div class="card-body">

					<table class="table text-center">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Password</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>

							<template x-for="u in users">
								<tr>
									<th x-text="u.id" scope="row"></th>
									<td x-text="u.username"></td>
									<td x-text="u.password"></td>
									<td>
											<div class="btn-group" role="group" aria-label="Basic example">
												<button type="button" @click="editUser" class="btn btn-success">Editar</button>
												<button type="button" @click="deleteUser(u.id)" class="btn btn-danger">Borrar</button>
											</div>
										</div>
									</td>
								</tr>
							</template>
							
						</tbody>
					</table>

				</div>

				<div class="card-footer text-center">
					<div class="btn-group" role="group" aria-label="Basic example">
						<template x-if="page > 1">
							
							<button type="button" @click="prevPage" class="btn btn-primary">Prev</button>
						</template>
						<template x-if="page < (totalUsers/10)">
							<button type="button" @click="nextPage" class="btn btn-primary">Next</button>
						</template>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<%-include('../layouts/scripts');%>

<script type="text/javascript">

	function usuariosComponent() {
		return {
			users: [],
			totalUsers: "",
			page: "",
			limit: "",
			baseURL: "http://localhost:3000/user",
			modal: false,


			init: function() {
				axios.get(this.baseURL+"/get")
				.then(res => {
					this.users = res.data.users;
					this.totalUsers = res.data.totalUsers;
					this.limit = res.data.limit;
					this.page = res.data.page;
				});

				console.log("entro en init");
			},

			prevPage: function() {
				if(this.page > 1) {
					this.page--;
					axios.get(this.baseURL+"/get?page="+this.page)
					.then(res => this.users = res.data.users)
					.catch(e => console.log(e));
				}
			},

			nextPage: function() {
				if(this.page < (this.totalUsers/10)) {
					this.page++;
					axios.get(this.baseURL+"/get?page="+this.page)
					.then(res => this.users = res.data.users)
					.catch(e => console.log(e));
				}
			},

			editUser: function() {
				console.log("edit");
			},

			deleteUser: function(id) {
				axios.post(this.baseURL+'/destroy', {
					id: id,
				})
				.then(res => this.init())
				.catch(e => console.log(e));

				console.log("Borro");

			},

			openModal: function() {
				this.modal = ! this.modal;
			},

			closeModal: function() {
				this.modal = ! this.modal;
			},
		}
	}

</script>


<%-include('../layouts/foot');%>